/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap"); */

:root {
  /* colors */
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --light-pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --plum: #552049;
  /* text */
  --black: #030303;
  --medium-brown: #7a746e;
  /* body bg */
  --light-cream: #fff7f0;
}

body {
  background-color: var(--light-cream);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

/* Typography */
p {
  color: var(--medium-brown);
}
/**************/
/* COMPONENTS */
/**************/

/* Site Logo */
img.site-logo {
  width: 3rem;
}

/* Buttons */
.btn {
  height: 2.75rem;
  color: var(--light-cream);
  font-size: 14px;
  font-weight: bold;
  border-radius: 50rem;
}
.btn-black {
  background-color: var(--black);
}
.btn-red {
  background-color: var(--light-red);
}

/************/
/* SECTIONS */
/************/

section {
  padding: 1rem;
}

/* Nav / Footer */
nav,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Header */
header {
  text-align: center;
  padding: 1rem;
}
header > h1 {
  font-size: 36px;
  font-weight: 700;
}
header > p {
  line-height: 26px;
}

/* Skills Section */
#skills-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skill-div {
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}
.skill-div > h2 {
  font-size: 24px;
}
#skill-1 {
  background-color: var(--galactic-blue);
}
#skill-2 {
  background-color: var(--summer-yellow);
}
#skill-3 {
  background-color: var(--light-pink);
}
#skill-4 {
  background-color: var(--light-red);
}
#skill-5 {
  background-color: var(--cyan);
}
#skill-6 {
  background-color: var(--plum);
}

/* About Section */
#about-section {
  text-align: center;
  padding: 1rem;
}
img.about-image {
  width: 100%;
  max-width: 300px;
}

/* Work */
#work-section {
  text-align: center;
  padding-inline: 0px;
}
#work-section > h2 {
  padding-inline: 1rem;
}

/* Work Carousel */
.carousel-control-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.carousel-control-next,
.carousel-control-prev {
  position: relative;
  width: unset;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--black);
  border-radius: 50rem;
  position: relative;
}

/* Booking Section */
#booking-section {
  text-align: center;
}
#booking-div {
  background-color: var(--black);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
#booking-div > h2 {
  color: var(--light-cream);
}
#booking-div > p {
  color: var(--light-cream);
}
