/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap"); */

:root {
  /* colors */
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --light-pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --plum: #552049;
  /* text */
  --black: #030303;
  --medium-brown: #7a746e;
  /* body bg */
  --light-cream: #fff7f0;
}

body {
  background-color: var(--light-cream);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

/* Typography */
p {
  color: var(--medium-brown);
}

/* Site Logo */
img.site-logo {
  width: 3rem;
}

/* Buttons */
.btn {
  height: 2.75rem;
  color: var(--light-cream);
  font-size: 14px;
  font-weight: bold;
}
.btn-black {
  background-color: var(--black);
}
.btn-red {
  background-color: var(--light-red);
}

/* Header */
header > h1 {
  font-size: 36px;
  font-weight: 700;
}
header > p {
  line-height: 26px;
}

/* Skills Blocks */
.skill-div > h2 {
  font-size: 24px;
  height: 5rem;
}
#skill-1 {
  background-color: var(--galactic-blue);
}
#skill-2 {
  background-color: var(--summer-yellow);
}
#skill-3 {
  background-color: var(--light-pink);
}
#skill-4 {
  background-color: var(--light-red);
}
#skill-5 {
  background-color: var(--cyan);
}
#skill-6 {
  background-color: var(--plum);
}

/* Booking */
#booking-div {
  background-color: var(--black);
}
#booking-div > h2 {
  color: var(--light-cream);
}
#booking-div > p {
  color: var(--light-cream);
}
