/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap"); */

:root {
  /* colors */
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --light-pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --plum: #552049;
  /* text */
  --black: #030303;
  --medium-brown: #7a746e;
  /* body bg */
  --light-cream: #fff7f0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-cream);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

/* Typography */
.heading-lg {
  font-size: clamp(2.25rem, 5.73vw, 3.5rem);
  font-weight: 700;
}
.heading-md {
  font-size: clamp(1.625rem, 4.16vw, 2.5rem);
  font-weight: 700;
}
.heading-sm {
  font-size: clamp(1.5rem, 4.16vw, 2rem);
  font-weight: 700;
}
p {
  font-size: clamp(1rem, 2.75vw, 1.125rem);
  color: var(--medium-brown);
  line-height: 26px;
}
/**************/
/* COMPONENTS */
/**************/

/* Site Logo */
img.site-logo {
  width: 3rem;
}

/* Buttons */
.btn {
  height: 2.75rem;
  max-width: fit-content;
  white-space: nowrap;
  color: var(--light-cream);
  font-size: clamp(0.875rem, 3vw, 1rem);
  font-weight: bold;
  border-radius: 50rem;
  padding-inline: 1.75rem;
}
.btn-black {
  background-color: var(--black);
}
.btn-red {
  background-color: var(--light-red);
}

/************/
/* SECTIONS */
/************/

section {
  padding: 1rem;
}

nav,
header,
section,
footer {
  width: 100%;
  max-width: calc(1110px + 2rem);
}

/* Nav / Footer */
nav,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
header > h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}
header > p {
  max-width: 80%;
  margin-bottom: 0px;
}

/* Skills Section */
#skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22.75rem 11.375rem 9.875rem 11.375rem 11.375rem;
  gap: 1.5rem;
  margin-bottom: 4.25rem;
}
@media screen and (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
  #skills-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 11.375rem 9.875rem 11.375rem;
  }
  #skill-1 {
    grid-row-end: span 2;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-color: lightblue;
  }
  #skills-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 11.375rem 9.875rem;
  }
  #skill-1 {
    grid-row-end: span 2;
  }
  #skill-4 {
    grid-column-start: 3;
  }
  #skill-5 {
    grid-row-start: 1;
    grid-column-start: 5;
  }
}

.skill-div {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 1.5rem;
  color: white;
  border-radius: 0.5rem;
  position: relative;
}
.skill-image {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.skill-div > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
#skill-1 {
  background-color: var(--galactic-blue);
  grid-column-end: span 2;
}
#skill-2 {
  background-color: var(--summer-yellow);
}
#skill-3 {
  background-color: var(--light-pink);
}
#skill-4 {
  background-color: var(--light-red);
  grid-column-end: span 2;
}
#skill-5 {
  background-color: var(--cyan);
  grid-column-end: span 2;
}
#skill-6 {
  background-color: var(--plum);
  grid-column-end: span 2;
}

/* About Section */
#about-section {
  padding: 1rem;
  margin-bottom: 4.25rem;
}
img.about-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2.5rem;
}
#about-section h2,
#about-section p {
  margin-bottom: 1.5rem;
}

/* Work */
#work-section {
  text-align: center;
  padding-inline: 0px;
  margin-bottom: 4.25rem;
}
#work-section h2 {
  padding-inline: 1rem;
  margin-bottom: 2rem;
}

/* Work Carousel */
.carousel-inner {
  margin-bottom: 2rem;
}
.carousel-item {
  /* width: 75%; */
  padding-inline: 1rem;
}
.carousel-item img {
  border-radius: 0.5rem;
}
.carousel-control-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.carousel-control-next,
.carousel-control-prev {
  position: relative;
  width: unset;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--black);
  border-radius: 50rem;
  position: relative;
  width: 4rem;
  height: 4rem;
}
.carousel-control-prev-icon {
  background-image: url("assets/icon-arrow-left.svg");
}
.carousel-control-next-icon {
  background-image: url("assets/icon-arrow-right.svg");
}

/* Booking Section */
#booking-section {
  text-align: center;
  margin-bottom: 0.5rem;
}
#booking-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding-inline: 1.5rem;
  padding-block: 3rem;
  border-radius: 0.5rem;
}
#booking-div h2 {
  color: var(--light-cream);
  margin-bottom: 1.5rem;
}
#booking-div p {
  max-width: 42ch;
  text-align: center;
  color: var(--light-cream);
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1400px) {
  #booking-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3rem;
  }

  #booking-div h2 {
    text-align: left;
  }

  #booking-div p {
    text-align: left;
  }
}
